outreach_workflow.json
{
  "name": "MoonLIT Arc Outreach Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "resource": "databasePage",
        "event": "createdOrUpdated",
        "databaseId": {
          "__rl": true,
          "value": "30ad4166-da05-80e5-abc5-fd7131bac351",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "property": "Outreach Status",
              "select": {
                "equals": "New"
              }
            }
          ]
        }
      },
      "id": "19b5c210-9b34-4b5a-9b5a-9b5a9b5a9b5a",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-cred-id",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "propertyId": "Outreach Status",
              "selectValue": "Contacted"
            }
          ]
        }
      },
      "id": "31b5c210-9b34-4b5a-9b5a-9b5a9b5a9b5b",
      "name": "Update Notion Status",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-cred-id",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "MoonLIT Arc",
        "to": "={{ $json.properties['Phone Number'].phone_number }}",
        "message": "Hi {{ $json.properties['Business Name'].title[0].plain_text }}, this is SAM from MoonLIT Arc. I noticed you don't have a website for your business. We'd love to help you build one! Are you interested?"
      },
      "id": "21b5c210-9b34-4b5a-9b5a-9b5a9b5a9b5c",
      "name": "Twilio SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "twilio-cred-id",
          "name": "Twilio API"
        }
      }
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Twilio SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio SMS": {
      "main": [
        [
          {
            "node": "Update Notion Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}